<div class="pure-g box-bordered">
  <div class="pure-u-1 pure-u-sm-1 pure-u-md-2-3 pure-u-lg-2-3">
    <table class="pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Estado</th>
        </tr>
      </thead>
    
      <tbody>
        <tr class="pointer" *ngFor="let sede of sedes" (click)="selectSede(sede)">
          <td>{{ sede.id }}</td>
          <td>{{ sede.name }}</td>
          <td>{{ sede.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-3 pure-u-lg-1-3">
    <p>
      sedes works!
    </p>
  </div>
</div>
