<div class="pure-g">
  <div class="pure-u-1-5">
    <form class="pure-form pure-form-stacked box-bordered">
      <fieldset>
        <legend>Inicia sesion</legend>
  
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email" style="width: 100%;">
        <!-- <span class="pure-form-message">This is a required field.</span> -->
  
        <label for="password">Contraseña</label>
        <input id="password" type="password" placeholder="Contraseña" style="width: 100%;">
  
        <div class="pure-button-group" style="text-align: center">
          <button type="submit" class="pure-button pure-button-primary">Sign in</button>
          <button class="pure-button">Forgot password</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
