<div id="login-container" class="pure-g alignment-container">
  <div class="pure-u-1-4 center-v">
    <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="pure-form pure-form-stacked box-bordered">
      <fieldset>
        <legend>Inicia sesion</legend>
  
        <label for="email" style="color: #9a9a9a;">Email</label>
        <input id="email" type="email" placeholder="Email" style="width: 100%;" formControlName="email">
        <!-- <span class="pure-form-message">This is a required field.</span> -->
  
        <label for="password" style="color: #9a9a9a;">Contraseña</label>
        <input id="password" type="password" placeholder="Contraseña" style="width: 100%;"  formControlName="password">
  
        <div class="pure-button-group" style="padding-top: .75em; text-align: center">
          <button class="pure-button pure-button-primary" type="submit" [disabled]="!signInForm.valid">Iniciar sesion</button>
          <a class="pure-button" [routerLink]="[routes.FORGOT.path]">Olvide mi contraseña</a>
        </div>

        <div style="padding-top: .75em; text-align: center">
          <a [routerLink]="[routes.REGISTER.path]">Resgitrarme</a>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="pure-u-3-4 center-v">
    <h1>Gestion de proyectos</h1>
  </div>
</div>
