<mat-grid-list cols="3" rowHeight="600px">

  <mat-grid-tile [colspan]="1" [rowspan]="1">
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">

    <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="md-form">

      <mat-form-field class="md-full-width">
        <input matInput type="email" placeholder="Correo electronico" formControlName="email">
      </mat-form-field>

      <mat-form-field class="md-full-width">
        <input matInput type="password" placeholder="Contraseña" formControlName="password">
      </mat-form-field>

      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="!signInForm.valid || logginInProcess" class="button-spacer">
          Iniciar sesion&nbsp;
        </button>
        <a mat-raised-button [routerLink]="[routes.FORGOT.path]" [disabled]="logginInProcess" class="button-spacer">
          Olvide mi contraseña&nbsp;
        </a>
      </div>

      <div class="button-row">
        <a mat-raised-button [routerLink]="[routes.REGISTER.path]" [disabled]="logginInProcess" class="button-spacer">
          Resgitrarme&nbsp;
        </a>
      </div>
      
    </form>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
  </mat-grid-tile>

</mat-grid-list>