<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="columns notification">
                <div class="column is-half has-text-centered is-vh-center">
                    Esta seguro que desea
                    <strong>cerrar sesion</strong>?
                </div>
                <div class="column is-vh-center">
                    <button class="button is-large">SI</button>
                </div>
            </div>
        </div>
    </div>
</div>