<mat-toolbar>
  <mat-toolbar-row>
      <span>Tareas</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="md-container">

  <mat-grid-list cols="3" rowHeight="150px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let route of routes">
      <mat-card [routerLink]="[route.path]" class="cursor-pointer card-repeat-horizontal">
          <span style="float: left; line-height: 26px;">{{ route.label }}</span>
          <mat-icon style="float: right;">{{ route.icon }}</mat-icon>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>

