<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button [routerLink]="[routes.MAIN.path]">
      <mat-icon aria-label="Inicio">home</mat-icon>
    </button>
    <span class="md-spacer"></span>
    
    <span>{{ url === 'main' ? 'Gestión proyectos' : url | capitalize }}</span>
    <span class="md-spacer"></span>

    <button mat-icon-button *ngIf="!isLogged()" [routerLink]="[routes.LOGIN.path]">
      <mat-icon aria-label="Cerrar session">perm_identity</mat-icon>
    </button>

    <button mat-icon-button *ngIf="isLogged()" [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="signOut()">
        <mat-icon aria-label="Cerrar session">close</mat-icon>
        <span style="padding-right: 16px;">Cerrar sesion</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>