.main-container {
    min-height: 100%;
    position: relative;
}

.sub-container {
    padding-top: 10px;
}

#univalle-logo {
    background-color: red;
    mask-image: url('../assets/img/univalle-logo.svg');
}