<mat-toolbar *ngIf="sede">
  <mat-toolbar-row>
      <span>{{ sede.id }} - {{ sede.name }}</span>

      <div *ngIf="sede.status; then activo else inactivo"></div>
      <ng-template #activo>
        <button mat-icon-button matTooltip="Activo" [matTooltipPosition]="'right'">
          <mat-icon aria-label="Cerrar session">check_circle_outline</mat-icon>
        </button>
      </ng-template>
      <ng-template #inactivo>
        <button mat-icon-button matTooltip="Inactivo" [matTooltipPosition]="'right'">
          <mat-icon aria-label="Cerrar session">highlight_off</mat-icon>
        </button>
      </ng-template>

      <span class="md-spacer"></span>

      <button mat-icon-button matTooltip="Crear sede" [matTooltipPosition]="'right'">
        <mat-icon aria-label="Cerrar session">add_circle</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar>
  <mat-toolbar-row>
    <span>Procesos</span>

    <button mat-icon-button matTooltip="Crear proceso" [matTooltipPosition]="'right'" (click)="openNewProceso()">
      <mat-icon aria-label="Cerrar session">add_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="md-container">

  <table mat-table [dataSource]="procesos" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="career">
      <th mat-header-cell *matHeaderCellDef> Programa </th>
      <td mat-cell *matCellDef="let element"> {{ element.career.name }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [routerLink]="[ 'procesos/' + element.id ]">
          <mat-icon aria-label="Abrir">open_in_new</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="Eliminar" color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasProcesos"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasProcesos;"></tr>

  </table>

</div>

<mat-toolbar>
  <mat-toolbar-row>
    <span>Programas</span>

    <button mat-icon-button matTooltip="Crear programa" [matTooltipPosition]="'right'">
      <mat-icon aria-label="Cerrar session">add_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>