.custom-container {
    margin: 0 2rem 0 2rem;
}

.folder {
    max-height: 12rem;
}
.box-bordered {
    margin: 1em;
    padding: 1em;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

/* Div Alignment */
.alignment-container {
    height: 100%;
    display: flex;
}
.center-v {
    align-self: center;
    justify-content: center;
}

.float-right {
    float: right;
}

/* Text Alignment */
.text-center-h {
    text-align: center;
}
.text-left-h {
    text-align: left;
}
.text-right-h {
    text-align: right;
}

/* Padding */
.padding-h-10{
    padding: 0 10px;
}

/* Cursor */
.pointer {
    cursor: pointer;
}

/* Responsive */
/* Desktop */
@media only screen and (max-width: 47em) {
    .hidden-md-to-down {
        display: none;
    }
}
/* Tablet o inferior */
@media only screen and (min-width: 47em) {
    .hidden-md-to-up {
        display: none;
    }
}

/** Elementos de un unico uso **/
#login-container {
    height: 715px;
}
