.custom-container {
    margin: 0 2rem 0 2rem;
}

.folder {
    max-height: 12rem;
}
.box-bordered {
    margin: 1em;
    padding: 1em;
    border: 1px solid #bfbfbf;
}

.box-controls {
    border: 1px solid #cbcbcb; 
    border-bottom-width: 0 !important;
    background-color: #E6E6E6;
}
.box-content {
    border: 1px solid #cbcbcb;
}
.inner-box {
    padding: 0 1em 0 1em;
}

/* Div Alignment */
.alignment-container {
    height: 100%;
    display: flex;
}
.center-v {
    align-self: center;
    justify-content: center;
}

.float-right {
    float: right;
}

/* Text Font */
body {
    font-family: Arial,Helvetica,sans-serif
}

/* Text Alignment */
.text-center-h {
    text-align: center;
}
.text-left-h {
    text-align: left;
}
.text-right-h {
    text-align: right;
}

/* Padding */
.padding-h-10{
    padding: 0 10px;
}

/* Buttons */
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

/* Cursor */
.pointer {
    cursor: pointer;
}

/* Labels */
.label {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 4px 6px 1px 6px;

    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    border-width: 2px;
    border-style: groove;
    border-radius: 3px;
}
.label.info{
    color: #1678c2;
    border: 1px solid #1678c2;
}
.label.success {
    color: #37af53;
    background-color: #f2fff5;
    border: 1px solid #21ba45;
}
.label.warning {
    color: #ab1e1e;
    background-color: #fff0f0;
    border: 1px solid #db2828;
}

/* Responsive */
/* Desktop */
@media only screen and (max-width: 47em) {
    .hidden-md-to-down {
        display: none;
    }
}
/* Tablet o inferior */
@media only screen and (min-width: 47em) {
    .hidden-md-to-up {
        display: none;
    }
}

/** Elementos de un unico uso **/
#login-container {
    height: 715px;
}
